@media all and (min-width: 480px) {
    .Forget {
        padding: 60px 0;
    }

    .Forget form {
        margin: 0 auto;
        max-width: 320px;
    }

    .Forget h2 {
        padding-bottom: 25px;
    }
}