@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.Home .lander {
    padding: 80px 0;
    text-align: center;
}

.Home .lander h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
}

.Home h2 {
    margin: 20px 0;
}

.Home h2 span {
    font-family: "Ubuntu", sans-serif;
    font-size: 25px;
    color: gray;
}

.box {
    margin-top: 30px;
}